body {
  display: flex;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
background: #2b2b2b !important;
  font-weight: 600;
  text-align: center !important;
  color: white;
  align-items: center;
  min-height: 100vh;
  position: relative;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header {
  position: fixed;
  top: 0; /* Footer placement */
  left: 0;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  z-index: 100;
  background-color: #333; /* Background color for visibility */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center items vertically */
  width: 100%; /* Ensure full width */
}

.hamburger {
  display: none; /* Hidden on larger screens */
  font-size: 30px; /* Size of hamburger icon */
  cursor: pointer; /* Pointer on hover */
}

.nav-links {
  color: #fff;
  display: none; /* Hide links by default */
  position: absolute; /* Position it absolutely */
  flex-direction: column; /* Stack links vertically */
  align-items: center; /* Center items */
  width: 100%; /* Full width for mobile */
  top: 70px; /* Position it above the header */
  left: 0;
  background-color: #333; /* Background for links */
}

.nav-links a {
  padding: 10px; /* Adjust padding to suit your design */
  white-space: nowrap; /* Prevents text from wrapping */
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  margin-left: 35px; /* Space between links */
  transition: 0.3s;
}

.login {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
  margin-left: 15px; /* Space between links */
}

.nav-links a:hover {
  color: ##03A2DC;
}

.header {
  background-color: transparent; /* Make header transparent on mobile */
}

.hamburger {
  display: block; /* Show hamburger on smaller screens */
}

.nav-links.active {
  display: flex; /* Show links when active */
}

.nav-links a {
  margin: 10px 0; /* Vertical spacing between links */
  margin-left: 0; /* Remove left margin for vertical layout */
}

.card {
  max-width: 443px;
  margin: auto;
  padding: 40px;
  background: #333;
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.card h1 {
  margin-bottom: 20px;
  text-align: center;
}

.casual-games h2 {
  font-size: 24px;
  color: #3b3b3b;
  margin-left: 20px;
}

/* Game Card Grid */
.games-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  padding: 20px;
}

.game-card {
  background-color: #3b3b3b;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: transform 0.2s;
}

.game-card:hover {
  transform: scale(1.05);
}


.game-card h3 {
  margin: 10px 0;
  font-size: 18px;
  color: #fff;
}

.casual-games h2 {
  margin: 10px 0;
  font-size: 20px;
  color: #fff;
}

